.mensaje{
    color: red;
}

body {
  background-color: rgb(157, 231, 207);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
 
}
 .cuadro{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: white;
   width: 30%;
  margin: auto;
  text-align: center;
 }

 .botonR{
  border-radius: 4px;
  background-color: #004b93;
  color: white;
 }